@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fascinate+Inline&family=Graduate&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&family=Spicy+Rice&family=Tangerine:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: auto;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: grid;                /* Use CSS Grid for layout */
  white-space: nowrap;
  overflow: auto;

  background-color: antiquewhite;
  background-image: url("image-muffins/pexels-castorlystock-3650437.jpg");
  background-size: cover;       /* Ensure the image covers the entire header */
  background-position: center;   /* Center the image */
  aspect-ratio: 1 / 0.67;                 /* Set height based on width (50% of viewport width) */
}

.nav-link {
  background-color: rgb(249, 144, 195);
  display: flex;
  justify-content: center;
  column-gap: calc(0.2rem + 2vw);
  white-space: nowrap;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

a {
  color: rgb(142, 11, 11);              /* Use inherited color */
  text-decoration: none;        /* Remove underline */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc(0.4rem + 1.5vw);
  padding: calc(0.5rem + 2vw);
  transition: color 0.4s, background-color 0.4s;
}

a:hover, a:focus {
  color: aliceblue;
  background-color: rgb(249, 153, 204);
}

a:active {
  opacity: 0.7;
  color: aliceblue;
  background-color: rgb(249, 153, 204);
}

.shop-name-container {
  display: flex;               /* Use flex to center content */
  justify-content: center;      /* Center content horizontally */
  align-items: center;          /* Center content vertically */
}

header h1 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  color: rgb(255, 109, 180);
  font-size: calc(2rem + 9.5vw);

  text-shadow: 
  0.0625rem 0.0625rem 0 rgb(142, 157, 169, 1),  /* White outline */
 -0.0625rem -0.0625rem 0 rgba(142, 157, 169, 1), 
 -0.0625rem 0.0625rem 0 rgba(142, 157, 169, 1), 
 0.0625rem -0.0625rem 0 rgba(142, 157, 169, 1);
}

.about-container {
  scroll-margin-top: calc(1rem + 9vw);
  width: 100%;
  display: flex;                /* Use CSS Grid for layout */
  flex-flow: column nowrap;
  /* border: 1px solid black; */
}

.about-container .about-heading {
  text-align: end;
  padding-right: 2em;
  font-size: calc(0.6rem + 2vw);

  background-color: rgb(249, 144, 195);
  background-image: linear-gradient(to right, aliceblue, rgb(249, 144, 195));
}

.Our-story-container {
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
  background-color: rgb(249, 144, 195);
  /* display: grid;
  grid-template-columns: min(calc(7rem + 15vw), 100rem) 1fr;
  grid-template-rows: 1fr 0.7fr;
  grid-template-areas: 
  'container-1 container-2'
  'aside aside'; */
  padding: 1.2rem 1.2rem 0.5rem;
}

.Our-story-container div:nth-child(1) {
  width: min(55%, calc(10rem + 15vw));
  height: auto;
  /* grid-area: container-1; */
  padding: calc(0.3rem + 5vw);
  float: left;
  align-items: center;
  
}

/*  .Our-story-container div:nth-child(2) {
  grid-area: container-2;
  padding-bottom: calc(0.1rem + 4vw);
}  */

.clear {
  clear: both;
}

aside {
  margin-left: calc(0.3rem + 2vw);
  grid-area: aside;
  font-size: calc(0.23rem + 2vw);
  color: rgb(54, 54, 53);
}

aside h3 {
  margin-bottom: calc(0.1rem + 2vw);
  align-items: baseline;
}

aside p {
  margin-right: calc(0.3rem + 2vw);
  margin-left: calc(0.3rem + 2vw);
  margin-top: calc(0.2rem + 1.5vw);
  text-align: justify;
}

/* .Our-story-container div:nth-child(3) {
  grid-area: container-3;
  display: grid;
} */

.Our-story-container div:nth-child(1) figure {
  width: 100%;
  height: auto;
  margin-top: calc(-4.5rem + -4.5vw);
}

.Our-story-container div:nth-child(1) figure img{
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}

.Our-story-container div:nth-child(2) h3 {
  font-size: calc(0.5rem + 2vw);
  font-weight: bold;
  display: inline;
}

.Our-story-container div:nth-child(2) h3 span {
  font-style: italic;
}

.Our-story-container div:nth-child(2) p {
  text-indent: calc(0.6rem + 2vw);
  margin: calc(0.3rem + 3vw);
  margin-right: calc(0.4em + 2vw);
  margin-left: calc(0.3em + 2vw);
  font-size: calc(0.3rem + 2vw);
  text-align: justify;
}

/* .Our-story-container div:nth-child(3) p {
  padding-bottom: calc(0.1rem + 4vw);
  margin-right: calc(0.3rem + 2vw);
  margin-left: calc(0.3rem + 2vw);
  font-size: calc(0.3rem + 2vw);
  text-align: justify;
} */

.about-container .image-ref {
  /* overflow: hidden; */
  max-width: 100%; /* Prevents child from exceeding its parent */
  aspect-ratio: 1 / 0.5; /* Optional, if you want to restrict height as well */
  padding: calc(0.6em + 1.5vw);

  background-color: rgb(249, 144, 195);
  background-image: url("image-muffins/pexels-energepic-com-27411-3805539.jpg");
  background-size: cover;       /* Ensure the image covers the entire header */
}

.about-container .image-ref .tagline{
  font-family: "Pacifico", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(237, 166, 198);
  font-size: calc(0.8rem + 6vw);

  text-shadow: 
  0.0625rem 0.0625rem 0 rgb(142, 157, 169, 1),  /* White outline */
 -0.0625rem -0.0625rem 0 rgba(142, 157, 169, 1), 
 -0.0625rem 0.0625rem 0 rgba(142, 157, 169, 1), 
 0.0625rem -0.0625rem 0 rgba(142, 157, 169, 1);
}

.about-container .homemade {
  padding: calc(0.3rem + 2vw);
  /* overflow: hidden; */
  max-width: 100%; /* Prevents child from exceeding its parent */
  height: auto; /* Optional, if you want to restrict height as well */
  background-color: rgb(54, 8, 8);
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-template-rows: calc(0.3rem + 7vw) 1fr;   /* Automatic height for rows */
  grid-template-areas: 
  'heading heading'
  'homemade-image-1 homemade-image-2';
  column-gap: 4vw;
  row-gap: 3vw;
}

.homemade-headings{
  grid-area: heading;
  text-align: center;
  padding-top: calc(0.25rem + 1.5vw);
}

.homemade-headings h3 {
  background-color: rgb(54, 8, 8);     /* Background for header */
  color: rgb(249, 144, 195);
  font-family: "Graduate", serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc(0.6rem + 2.5vw);
}

.homemade-image-ref-1,
.homemade-image-ref-2 {
  aspect-ratio: 1 / 1;
  display: flex; /* Use flexbox to center the figure */
  /* justify-content: end;  *//* Center figure horizontally */
  /* align-items: center; */ /* Center figure vertically */
}

.homemade-image-ref-1 {
  grid-area: homemade-image-1;
  justify-content: end;
  align-items: start;
}

.homemade-image-ref-2 {
grid-area: homemade-image-2;
justify-content: start;
  align-items: start;
}

.homemade-image-ref-1 figure,
.homemade-image-ref-2 figure {
  width: 83%; /* Ensure the figure takes up 70% of the column */
  height: 83%; /* Maintain aspect ratio of figure */
  /* overflow: hidden; */ /* Hide overflow to keep images inside the figure */
}

.homemade-image-ref-1 figure img,
.homemade-image-ref-2 figure img {
  display: block;
  max-width: 100%; /* Ensure image takes full width of figure */
  height: 100%; /* Maintain aspect ratio of the image */
  object-fit: cover; /* Ensure image covers the figure area while maintaining aspect ratio */
  border-radius: 7%; /* Add border-radius if needed */
}

/* .homemade-image-ref-1 figure { */
  /* margin-right: calc(-0.2rem + -1.5vw); 
  margin-top: calc(-0.2rem + -1vw); */
/* } */

/* .homemade-image-ref-2 figure { */
  /* margin-top: calc(-0.2rem + -1vw);
  margin-left: calc(-0.2rem + -1.5vw);  */
/* } */

.menu-container {
  scroll-margin-top: calc(1rem + 9vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: calc(0.2rem + 3vw);
  padding: calc(0.4rem + 5vw);
  background-color: rgb(248, 207, 156);
}

.menu-container h2 {
  font-size: calc(0.35rem + 3.5vw);
}

.menu-container h2 span {
  font-size: calc(0.45rem + 4.5vw);
}

.product-container {
  margin-top: 16vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: calc(1rem + 24vw);
  padding: calc(0.6rem + 4vw);
}

.product-container .product {
  border: calc(0.1rem + 0.15vw) solid black;
  padding: calc(0.8rem + 4vw) calc(0.9rem + 5vw) calc(0.5rem + 2vw);
  width: min(100%, 20rem);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(0.5rem + 2vw);
}

.product figure {
  margin-top: -20vw;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.product figure img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}

.product figure figcaption {
  font-weight: bolder;
  max-width: 100%;
  margin: 0.8rem;
  font-size: calc(0.4rem + 3vw);
  text-align: center;
  white-space: nowrap;
}

.contact-us-container {
  scroll-margin-top: calc(1rem + 9vw);
  display: flex;
  flex-direction: column;
  padding: calc(0.5rem + 3vw);
  row-gap: calc(0.4rem + 2vw);
  color: antiquewhite;

  background-color: black
}

.contact-us-container h2 {
  text-align: center;
  font-size: calc(0.3rem + 4.5vw);
  margin-bottom: calc(0.4rem + 2vw);
}

.open-hours-container {
  display: flex;
  flex-direction: column;
  row-gap: calc(0.4rem + 2vw); /* Adjust this value as needed */
  font-size: calc(0.25rem + 2.5vw);
}

.open-hours-container ul{
  margin-left: 6vw;
}

.open-hours-container li {
  margin-bottom: calc(0.4rem + 1vw); /* Optional: add some margin for extra spacing */
}

.open-hours-container span {
  font-weight: bold;
}

.our-location-container {
  display: flex;
  flex-direction: column;
  row-gap: 5vw; /* Adjust this value as needed */
  margin-bottom: 4vw;
  font-size: calc(0.25rem + 2.5vw);
}

.our-location-container address {
  margin-left: 6vw;
}

.our-location-container address p {
  margin-bottom: calc(0.4rem + 1vw);
}

.inquiries-container {
  display: flex;
  flex-direction: column;
  row-gap: calc(0.4rem + 1.5vw);
  font-size: calc(0.25rem + 2.5vw);
}

.inquiries-container p:nth-child(1), .inquiries-container p:nth-child(3) {
  font-weight: bold;
}

.inquiries-container p:nth-child(2) {
  text-decoration: underline;
}

.contact-us-container form {
  margin-top: calc(0.4rem + 2vw);
  display: flex;
  flex-direction: column;
  row-gap: calc(0.3rem + 0.8vw);
  font-size: calc(0.25rem + 2.5vw);
}

form label {
  display: block;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: calc(0.3rem + 0.8vw);
}

form input {
  width: 80%;
  height: auto;
  margin-bottom: calc(0.3rem + 1vw);
  border-radius: 8vw;
  padding: 2vw;
  border: 0.1rem solid gray;
  font-size: calc(0.22rem + 2.2vw);
}
  
fieldset {
  border: 1px solid #ccc; /* Add border style if needed */
  padding: calc(0.5rem + 2vw); /* Space inside the fieldset */
  
}

textarea {
  width: 100%; /* Full width of the fieldset */
  aspect-ratio: 1 / 0.5; /* Set height as needed */
  padding: 3vw; /* Space inside the textarea */
  border: 1px solid #ccc; /* Border for the textarea */
  border-radius: 3vw; /* Optional: rounded corners */
  font-size: calc(0.25rem + 2.5vw);
}

form div {
  display: flex;
}

button {
  width: 20%;
  height: calc(0.4rem + 6vw);
  border-radius: 6vw;
  font-weight: bold;
  margin-right: 3vw;
  font-size: calc(0.25rem + 2.5vw);
  transition: color 0.6s, background-color 0.6s;
  cursor: pointer;
}

button:hover, button:focus {
  color: aliceblue;
  background-color: rgb(249, 144, 195);
  background-image: linear-gradient(to right, aliceblue, rgb(249, 144, 195));
  text-shadow: 
  0.0625rem 0.0625rem 0 rgb(142, 157, 169, 1),  /* White outline */
 -0.0625rem -0.0625rem 0 rgba(142, 157, 169, 1), 
 -0.0625rem 0.0625rem 0 rgba(142, 157, 169, 1), 
 0.0625rem -0.0625rem 0 rgba(142, 157, 169, 1);
}

button:active {
  opacity: 0.9;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 144, 195);
  color: rgb(87, 74, 74);
  width: 100%;
  font-size: calc(0.5rem + 1.2vw);
}

footer div {
  text-align: center;
}

@media screen and (min-width: 576px) {
  .about-container .about-heading {
    font-size: calc(0.4rem + 2vw);

  }

  .Our-story-container div:nth-child(1) {
    width: min(53%, calc(12rem + 18vw));
  }

  .product-container div:nth-child(2) {
    order: -1; /* Move the second child to the first position */
  }

  .Our-story-container div:nth-child(2) p {
    font-size: calc(0.2rem + 2vw);
  }

  aside {
    font-size: calc(0.18rem + 1.8vw);

  }

  .about-container .image-ref {
    /* overflow: hidden;
    max-width: 100%;  */
    aspect-ratio: 1 / 0.5; /* Optional, if you want to restrict height as well */
    padding: calc(1.5em + 2.7vw);
  
    /* background-color: rgb(249, 144, 195);
    background-image: url("image-muffins/pexels-energepic-com-27411-3805539.jpg");
    background-size: cover;        */
  }
  
  .about-container .image-ref .tagline{
    /* font-family: "Pacifico", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(237, 166, 198); */
    font-size: calc(2.1rem + 2.6vw);
  
    /* text-shadow: 
    0.0625rem 0.0625rem 0 rgb(142, 157, 169, 1),  
   -0.0625rem -0.0625rem 0 rgba(142, 157, 169, 1), 
   -0.0625rem 0.0625rem 0 rgba(142, 157, 169, 1), 
   0.0625rem -0.0625rem 0 rgba(142, 157, 169, 1); */
  }
  
  .homemade-headings h3 {
    font-size: calc(1rem + 1.2vw);
  }
  
  .homemade-image-ref-1 figure,
  .homemade-image-ref-2 figure {
    width: min(82%, 15rem); /* Ensure the figure takes up 70% of the column */
    height: min(82%, 15rem);
  }

  .menu-container h2 {
    font-size: calc(0.2rem + 2vw);
  }
  
  .menu-container h2 span {
    font-size: calc(0.4rem + 4vw);
  }

  .product-container .product {
    border: calc(0.0882rem + 0.05vw) solid black;
    padding: calc(0.8rem + 4vw) calc(1rem + 3vw) calc(0.5rem + 2vw);
    /*
    width: min(100%, 24rem);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; */
    font-size: calc(0.4rem + 1.3vw);
  }
  .product figure figcaption {
    /* font-weight: bolder;
    max-width: 100%;
    margin: 0.8rem; */
    font-size: calc(0.5rem + 1.3vw);
    /* text-align: center;
    white-space: nowrap; */
  }

  .contact-us-container h2 {
    /* text-align: center; */
    font-size: calc(0.8rem + 2vw);
   /*  margin-bottom: 6vw; */
  }
  
  .open-hours-container, .our-location-container, .inquiries-container, .contact-us-container form {
    /* display: flex;
    flex-direction: column;
    row-gap: 5vw;  */
    font-size: calc(0.7rem + 1vw);
  }

  form input {
    width: 65%;
    /* height: auto;
    margin-bottom: 3vw;
    border-radius: 8vw; */
    padding: 1.3vw;
    /*border: 0.1rem solid gray; */
    font-size: calc(0.55rem + 1vw);
  }
  textarea {
    /* padding: 3vw; */ /* Space inside the textarea */
    /* border-radius: 5vw; */ /* Optional: rounded corners */
    aspect-ratio: 1 / 0.4;
    font-size: calc(0.7rem + 1vw);
  }
  button {
    width: 15%;
    height: calc(0.4rem + 5vw);
    font-size: calc(0.7rem + 1vw);
  }

}

@media screen and (min-width: 768px) {
  .about-container .about-heading {
    font-size: calc(0.8rem + 1vw);

  }

  .Our-story-container div:nth-child(1) {
    width: min(53%, calc(15rem + 14vw));
  }

  .Our-story-container div:nth-child(2) p {
    font-size: calc(0.3rem + 1.2vw);
  }

  aside {
    font-size: calc(0.25rem + 1.2vw);

  }

  .homemade-image-ref-1 figure,
  .homemade-image-ref-2 figure {
    width: min(82%, 18rem); /* Ensure the figure takes up 70% of the column */
    height: min(82%, 18rem);
  }

  .menu-container h2 {
    font-size: calc(0.45rem + 2vw);
  }
  
  .menu-container h2 span {
    font-size: calc(0.7rem + 2.5vw);
  }

  .product-container {
    margin-top: calc(2rem + 3vw);
    flex-flow: row wrap;
    justify-content: center;
    column-gap: calc(1rem + 3vw);
    row-gap: calc(2rem + 12vw);
  }

  .product-container .product {
    border: calc(0.0655rem + 0.1vw) solid black;
    /* padding: calc(0.8rem + 4vw) calc(0.9rem + 7vw) calc(0.5rem + 2vw);
    width: min(100%, 24rem);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; */
    font-size: calc(0.33rem + 1.2vw);
    padding: calc(1rem + 1vw) calc(1rem + 1vw) calc(0.5rem + 1vw);
    width: min(40%, 16rem);
    height: auto;
  }

  .product figure {
    margin-top: -12vw;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .product figure figcaption {
    /* font-weight: bolder;
    max-width: 100%;
    margin: 0.8rem; */
    font-size: calc(0.4rem + 1.2vw);
    /* text-align: center;
    white-space: nowrap; */
  }

  .contact-us-container {
    scroll-margin-top: calc(1rem + 9vw);
    /* display: flex;
    flex-direction: column;
    padding: 6.5vw;
    row-gap: 3vw;
    color: antiquewhite; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto ;
    grid-template-areas: 
    'h2-area h2-area'
    'open-hours-area our-location-area'
    'inquiries-area inquiries-area';

  
    background-color: black
  }

  .contact-us-container h2 {
    grid-area: h2-area;
  }

  .open-hours-container {
    grid-area: open-hours-area;
  }

  .our-location-container {
    grid-area: our-location-area;
  }

  .inquiries-container {
    grid-area: inquiries-area;
  }

  .contact-us-container h2 {
    /* text-align: center; */
    font-size: calc(1rem + 1vw);
   /*  margin-bottom: 6vw; */
  }
  
  .open-hours-container, .our-location-container, .inquiries-container, .contact-us-container form {
    /* display: flex;
    flex-direction: column; */
    row-gap: 1.8rem;
    font-size: calc(0.75rem + 0.75vw);
  }

  .inquiries-container {
    margin-top: 1.5rem;
    row-gap: 1.2rem;
  }

  form input {
    width: 55%;
    /* height: auto;  */
    margin-bottom: 3vw;
    border-radius: 8vw; 
    padding: calc(0.6rem + 0.2vw);
    /*border: 0.1rem solid gray; */
    font-size: calc(0.6rem + 0.6vw);
  }

  fieldset {
    width: 80%;
  }

  textarea {
    /* padding: 3vw; */ /* Space inside the textarea */
    border-radius: 3vw; /* Optional: rounded corners */
    aspect-ratio: 1 / 0.35;
    font-size: calc(0.6rem + 0.6vw);
  }
  button {
    width: 12%;
    height: calc(0.6rem + 4vw);
    font-size: calc(0.63rem + 0.63vw);
  }

}

@media screen and (min-width: 992px) {
  header {
    aspect-ratio: 1 / 0.6;                 /* Set height based on width (50% of viewport width) */
  }

  .Our-story-container div:nth-child(1) {
    width: min(40%, calc(16rem + 14vw));
    margin-top: -1vw;
    height: auto;
    /* grid-area: container-1; */
    /* padding: calc(0.3rem + 5vw);
    float: left;
    align-items: center; */
    
  }

  .nav-link {
    /* background-color: rgb(249, 144, 195);
    display: flex;
    justify-content: center; */
    column-gap: calc(1rem + 1vw);
    /* white-space: nowrap;
    position: fixed;
    top: 0;
    right: 0;
    left: 0; */
  }
  
  a {
    font-size: calc(0.5rem + 1vw);
    padding: calc(0.6rem + 1vw);
  }

  header h1 {
    font-size: calc(6rem + 5vw);
  }


  .about-container .homemade {
    padding: calc(0.3rem + 2vw);
    /* overflow: hidden; */
    max-width: 100%; /* Prevents child from exceeding its parent */
    /* height: auto; */ /* Optional, if you want to restrict height as well */
    aspect-ratio: 1 / 0.53;
    background-color: rgb(54, 8, 8);
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: calc(0.3rem + 7vw) 1fr;   /* Automatic height for rows */
    grid-template-areas: 
    'heading heading'
    'homemade-image-1 homemade-image-2';
    column-gap: 4vw;
    row-gap: 3vw;
  }

  .homemade-image-ref-1,
  .homemade-image-ref-2 {
    aspect-ratio: 1 / 0.8;
    display: flex; /* Use flexbox to center the figure */
    /* justify-content: end;  *//* Center figure horizontally */
    /* align-items: center; */ /* Center figure vertically */
  }

  .homemade-image-ref-1 figure,
  .homemade-image-ref-2 figure {
    width: min(70%, 22rem); /* Ensure the figure takes up 70% of the column */
    height: min(87.5%, 22rem);
  }

  .menu-container h2 {
    font-size: calc(0.45rem + 2vw);
  }
  
  .menu-container h2 span {
    font-size: calc(0.7rem + 2.5vw);
  }

  .product-container {
    margin-top: calc(0.5rem + 0.5vw);
    flex-flow: row wrap;
    justify-content: center;
    column-gap: calc(1rem + 3vw);
    row-gap: calc(2rem + 1vw);
  }

  .product-container .product {
    border: calc(0.0655rem + 0.1vw) solid black;
    /* padding: calc(0.8rem + 4vw) calc(0.9rem + 7vw) calc(0.5rem + 2vw);
    width: min(100%, 24rem);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; */
    font-size: calc(0.5rem + 0.8vw);
    padding: calc(1rem + 1vw) calc(1rem + 1vw) calc(0.5rem + 1vw);
    width: 25%;
    height: auto;
  }

  .product figure {
    margin-top: calc(-2rem + -4vw);
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .product figure figcaption {
    /* font-weight: bolder;
    max-width: 100%;
    margin: 0.8rem; */
    font-size: calc(0.6rem + 0.6vw);
    /* text-align: center;
    white-space: nowrap; */
  }

  form input {
    width: 44%;
    /* height: auto;  */
    margin-bottom: 3vw;
    border-radius: 8vw; 
    padding: calc(0.6rem + 0.2vw);
    /*border: 0.1rem solid gray; */
    font-size: calc(0.6rem + 0.6vw);
  }

  fieldset {
    width: 70%;
  }

  textarea {
    /* padding: 3vw; */ /* Space inside the textarea */
    border-radius: 3vw; /* Optional: rounded corners */
    aspect-ratio: 1 / 0.25;
    font-size: calc(0.6rem + 0.6vw);
  }

  button {
    width: 10%;
    height: calc(0.6rem + 3.5vw);
    font-size: calc(0.58rem + 0.58vw);
  }

}

@media screen and (min-width: 1400px) {
  header {
    width: 100%;
    height: 55rem;
  }
  
  .nav-link {
    column-gap: 3rem;
  }
  
  a {
    font-size: 2.3rem;
    padding: 1.3rem;

  }
  
  header h1 {
    font-size: 12rem;
  }

  .about-container {
    scroll-margin-top: calc(1rem + 9vw);

  }

  .about-container .about-heading {
    padding-right: 7rem;
    font-size: 2.5rem;
  }

  .Our-story-container {
    padding: 2.7rem 2rem 2rem;
  }

  .Our-story-container div:nth-child(1) {
    width: 37rem;
    padding: 4rem;
  }

  .clear {
    clear: both;
  }

  aside {
    margin-left: 4rem;
    font-size: 1.8rem;
  }

  aside h3 {
    margin-bottom: 2.5rem;
  }

  aside p {
    margin-right: 1.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .Our-story-container div:nth-child(1) figure {
    margin-top: -10.5rem;
  }

  .Our-story-container div:nth-child(2) h3 {
    font-size: 2.8rem;
  }

  .Our-story-container div:nth-child(2) p {
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-indent: 2rem;
    margin-right: 2rem;
    margin-left: 4rem;
    font-size: 2.1rem;
  }

  .about-container .image-ref {
    height: 45rem;
    padding: 4rem;
  }
  
  .about-container .image-ref .tagline{
    font-size: 7.5rem;
  }

  .about-container .homemade {
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 7rem 1fr;   
    width: 100%;
    height: 50rem;
    padding: 2rem;
    column-gap: 5rem;
    row-gap: 2rem;
  }
  
   .homemade-headings{
    padding-top: 2rem;
    height: 2rem;
  }
  
  .homemade-headings h3 {
    font-size: 3.2rem;
  }
  
  .homemade-image-ref-1,
  .homemade-image-ref-2 {
    width: 100%;
    height: 37rem;
  }
  
  .homemade-image-ref-1 figure,
  .homemade-image-ref-2 figure {
    width: 30rem; 
    height: 30rem; 
  }

  .menu-container {
    scroll-margin-top: calc(1rem + 9vw);
    row-gap: 2rem;
    padding: 4rem 2rem 3rem;
  }

  
  .menu-container h2 {
    font-size: 3.4rem;
  }

  .menu-container h2 span {
    font-size: 4.4rem;
  }

  .product-container {
    margin-top: 4rem;
    column-gap: 5rem;
    row-gap: 12rem;
    padding: 7rem;
  }

  .product-container .product {
    border: 0.2rem solid black;
    font-size: 1.8rem;
    padding: 2rem 3rem 2rem;
    width: min(26%, 28rem);
  }

  .product figure {
    margin-top: -8rem;
  }
  
  .product figure figcaption {
    margin: 0.8rem;
    font-size: 1.7rem;
  }

  .contact-us-container {
    scroll-margin-top: calc(1rem + 9vw);
    /* display: flex;
    flex-direction: column;
    padding: 6.5vw;
    row-gap: 3vw;
    color: antiquewhite; */
    padding: 4rem 10rem 4rem;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto ;
    grid-template-areas: 
    'h2-area h2-area'
    'open-hours-area our-location-area'
    'inquiries-area inquiries-area';

  
    background-color: black */
  }

  .contact-us-container h2 {
    grid-area: h2-area;
    font-size: 3rem;
  }

  .open-hours-container {
    grid-area: open-hours-area;
  }

  .our-location-container {
    grid-area: our-location-area;
  }

  .inquiries-container {
    grid-area: inquiries-area;
  }

  .open-hours-container, .our-location-container, .inquiries-container, .contact-us-container form {
    /* display: flex;
    flex-direction: column; */
    row-gap: 3rem;
    font-size: 2rem;
  }

  .inquiries-container {
    margin-top: 2rem;
    row-gap: 1.2rem;
  }

  form input {
    width: 40%;
    margin-bottom: 3rem;
    border-radius: 1.8rem; 
    padding: 1rem;
    font-size: 1.6rem;
  }
 
  fieldset {
    width: 70%;
    padding: 2rem;
  }

  textarea {
    padding: 1.3rem;
    border-radius: 2.5rem;
    aspect-ratio: 1 / 0.2;
    font-size: 1.6rem;
  }
    

  button {
    width: 9%;
    height: auto;
    padding: 1.2rem;
    font-size: 1.4rem;
    border-radius: 1.8rem;
  }

  footer {
    font-size: 1.5rem;
  }
}